#global_email_subscribe h1 {
	font-size: 2.8em;
}

.footer_bio p {
	margin-bottom: 1.2em;
}

#google_ads_div_AppWantist_BSA_300x250 {
	display: inline-block;
	border: 4px solid #FFF;
	border-bottom: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	background-color: #FFF;
}

#google_ads_div_Wantist_firstposition_ROS_125x125 {
	float: left;	
	border: 4px solid #FFF;
	border-bottom: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	background-color: #FFF;
	margin-right: 23px;
	margin-left: 3px;
}

#google_ads_div_Wantist_secondposition_ROS_125x125 {
	float: left;
	border: 4px solid #FFF;
	border-bottom: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	background-color: #FFF;
	margin-right: 23px;
}

#google_ads_div_Wantist_thirdposition_ROS_125x125 {
	float: left;
	border: 4px solid #FFF;
	border-bottom: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	background-color: #FFF;
	margin-right: 23px;
}

#google_ads_div_Wantist_fourthposition_ROS_125x125 {
	float: left;
	border: 4px solid #FFF;
	border-bottom: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	background-color: #FFF;
	margin-right: 24px;
}

#google_ads_div_Wantist_fifthposition_ROS_125x125 {
	float: left;
	border: 4px solid #FFF;
	border-bottom: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	background-color: #FFF;
}
